*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
img{
    object-fit:cover;
}
header,footer,div,section,nav,figure,figcaption,article,aside{
    display: flex;
    flex-wrap: wrap;
}