<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
@import'../stylesheet/colors';
@import'../../Pages/about us/header';
@import'../../Pages/about us/extra-contact';
@import'../../Pages/about us/get-meds-from-us';
=======
@import './normalize';
@import './colors';
@import './header';
@import './services';
>>>>>>> 740ac4ec828ca9b6efb7600bba63fa550ad5f9d2
