.get-meds-from-us{
    width: 100%;
    height: 130vh;
    background-color: $Tirdth-background-color;
    position: relative;
    z-index: -1;
    >.years-of-exprience{
        width: 100%;
        height: 50%;
        @extend.border-test;
        position: absolute;
        left: 0;bottom: 0;
    }
}